.content {
  border: 1px solid #e8ddd3;

  border-radius: 1.5rem;

  background: #fffdfb;

  box-shadow:
    0 4px 20px rgba(0, 0, 0, 0.03),
    0 12px 40px rgba(83, 60, 40, 0.05);

  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
  gap: 15px;
  width: 100%;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-input {
  position: relative;
  width: 300px;
}

.search-input input {
  width: 100%;
  padding: 10px 12px 10px 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.search-icon,
.close-search-icon {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 18px;
  cursor: pointer;
}
.search-icon {
  left: 12px;
}
.close-search-icon {
  right: 12px;
}
