.content {
  border: 1px solid rgb(82 71 71 / 50%);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
  margin: 20px auto;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
