.card-receta {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 350px;
  box-sizing: border-box;
  user-select: none;
  text-align: start;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-receta img {
  width: 100%;
  height: auto;
  border: 1px solid transparent;
  border-radius: 15px;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.card-receta h2 {
  margin: 10px;
}

.card-receta hr {
  border: none;
  height: 1px;
  background-color: rgb(238, 234, 231);
}

.card-receta-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
  width: 300px;
}

.card-receta-main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.dots-receta {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 34px;
}

.total-receta {
  width: 100%;
  border: 1px solid wheat;
  border-radius: 5px;
  background-color: rgba(249, 243, 234);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.detalles-boton {
  width: 100%;
  border: 1px solid rgba(176, 123, 69);
  border-radius: 5px;
  background-color: rgba(176, 123, 69);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 40px;
  font-weight: bolder;
  cursor: pointer;
}

.total-receta h4 {
  padding: 10px;
  margin: 0;
  color: rgb(95, 76, 56);
}

.total-numero {
  color: black;
  font-weight: bolder;
  font-size: 1.2rem;
}

.tabla-receta {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.tabla-receta th {
  padding: 12px;
  text-align: left;
  color: rgba(113, 98, 83);
}

.tabla-receta td {
  padding: 15px 6px;
  border-bottom: 1px solid #eee;
  color: rgba(92, 79, 71);
  cursor: pointer;
}

.tabla-receta td img {
  width: 35px;
  border-radius: 5px;
}

.td-image {
  padding: 0 !important;
}

.td-nombre {
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tabla-receta tbody tr:hover {
  background-color: #faf7f2;
  transition: background-color 0.2s ease;
}

.tabla-receta tbody tr:last-child td {
  border-bottom: none;
}

.table-costo {
  color: black !important;
}

.expandir {
  padding: 0 10px 10px 10px;
  color: rgb(153, 132, 109);
  cursor: pointer;
}
